{
  "presets": [
    ["@babel/preset-env", {
      "modules": false
    }],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "lodash",
    "@babel/plugin-transform-runtime",
    "babel-plugin-styled-components",
    "@babel/plugin-transform-typescript",
    "react-hot-loader/babel",
    "@loadable/babel-plugin",
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-export-default-from",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
          "app": "./src/app",
          "assets": "./src/assets",
          "atoms": "./src/components/atoms",
          "molecules": "./src/components/molecules",
          "organisms": "./src/components/organisms",
          "pages": "./src/components/pages/",
          "templates": "./src/components/templates/",
          "themes": "./src/components/themes/",
          "constants": "./src/constants",
          "containers": "./src/containers",
          "services": "./src/services",
          "store": "./src/store",
          "utils": "./src/utils"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": [
        "@babel/plugin-transform-modules-commonjs",
        ["styled-components", {
          "minify": false
        }]
      ]
    },
    "test": {
      "presets": [["@babel/preset-env"], "@babel/preset-react"],
      "plugins": [
        "@babel/plugin-transform-modules-commonjs"
      ]
    },
    "production": {
      "plugins": [
        ["transform-react-remove-prop-types", {
          "ignoreFilenames": ["node_modules"]
        }],
        ["styled-components", {
          "displayName": false
        }]
      ]
    }
  }
}
