a.link,
.link {
  display: flex;
  margin: 0px 0px 26px;
  width: 100%;
  font-family: NeueHaasMedium;
  font-size: 20px;
  color: rgb(255, 91, 0) !important;
  background-image: none;
  background-repeat: no-repeat;
  animation: 1.5s ease 0s infinite normal none running loading;
  text-decoration: none;
}
